<div class="small-12 medium-6 large-4 cell card">
    <div class="grid-x align-middle">
        <a href="#" class="cell expanded card-image"
           style="background-image: url('https://loremflickr.com/800/600/forest/all')">
        </a>
        <div class="cell expanded card-text">
            <span class="card__label">Conference</span>
            <h1 class="card__title">
                <a href="#">2nd UNESO World Open Educational Resources (OER) Congress</a>
            </h1>
            <p class="card__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt</p>
        </div>
    </div>
</div>
