<div class="grid-x grid-margin-x align-center">
    <div class="home-news-box small-10 cell">
        <div class="grid-x grid-margin-x">
            <div class="cell expanded meta">
                <p>
                    <strong>October 17, 2017</strong><br/>
                    General
                </p>
            </div>
            <div class="small-12 medium-10 medium-offset-2 cell">
                <a href="#" class="title news__title">H2020 Media Projects’ Workshop: Collaboration Towards the Future
                    of Media</a>
                <p>We attended an exciting event in Brussels on the 17th October 2017, in order to spark
                    collaboration among all H2020 media related projects managed by Unit DG CONNECT-I4.</p>
            </div>
        </div>
    </div>
</div>
